<?xml version="1.0" encoding="UTF-8"?>
<!--
 <copyright file="config.xml" company="RestaurantManagementSoftware">
    Copyright (c) 2013, 2014 All Right Reserved
 </copyright>
 <author>David Fortin</author>
 <date>2013-10-05</date>
 <summary>Contains all type of configuration. This file is manage by the 
          ConfigurationManager class.</summary>
-->
<config>
    <!-- LOCAL -->
    <!--
    <db>
        <Host>localhost</Host>
        <User>root</User>
        <Password>root</Password>
        <Database>restaurantManagementSoftware</Database>
        <Port>8889</Port>
    </db>
     -->
    <!-- Website -->
     <db>
     <Host>db498909085.db.1and1.com</Host>
     <User>dbo498909085</User>
     <Password>davidfortin8640</Password>
     <Database>db498909085</Database>
     <Port>3306</Port>
     </db>
</config>
